/* Estilo geral */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

/* Cabeçalho */
.Cabecalho {
    height: 80px;
    display: flex;
}

.menu_img {
    height: 80px;
}

.menu_logo {
    height: 40px;
    margin: 0.5% 83%;
    border-radius: 5px;
}

/* Estilo do cronômetro */
.cronometro-container {
    margin-top: 100px;
}

#display {
    font-size: 48px;
    margin-bottom: 20px;
}

.btn {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    background-color: #222;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}
